@model PPI.Core.Domain.Entities.Site

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}
<div class="main-box clearfix">
    <div class="main-box-body">
        <h2>Edit Department</h2>
        <form action="/Administration/Site/Edit" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.Label("OrganizationName", htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.SiteOrganizations, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("DepartmentName", htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.SiteName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SiteName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FriendlyName, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.FriendlyName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FriendlyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BrandingColor, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.BrandingColor, new { htmlAttributes = new { @class = "form-control demo" } })

                        @Html.ValidationMessageFor(model => model.BrandingColor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BrandingLogo, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        @if (@Model.BrandingLogo != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(@Model.BrandingLogo)" height="50" width="150" />
                        }
                        <input type="file" name="File1" id="file1" />
                        @Html.ValidationMessageFor(model => model.BrandingLogo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BrandingBackground, htmlAttributes: new { @class = "control-label col-md-2 bold" })
                    <div class="col-md-7">
                        @if (@Model.BrandingBackground != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(@Model.BrandingBackground)" height="50" width="150" />
                        }
                        <input type="file" name="File2" id="file2" />
                        @Html.ValidationMessageFor(model => model.BrandingBackground, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.BrandingBackgroundMimeType)
                @Html.HiddenFor(model => model.BrandingLogoMimeType)
                @Html.HiddenFor(model => model.BrandingBackground)
                @Html.HiddenFor(model => model.BrandingLogo)


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back to Departments", "Index", new { area = "" }, new { @class = "btn btn-default btn200" })
                        <input type="submit" value="Save" class="btn btn-success btn200" onclick="javascript: return validate();" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.minicolors.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.demo').each(function () {
                //
                // Dear reader, it's actually very easy to initialize MiniColors. For example:
                //
                //  $(selector).minicolors();
                //
                // The way I've done it below is just for the demo, so don't get confused
                // by it. Also, data- attributes aren't supported at this time...they're
                // only used for this demo.
                //
                $(this).minicolors({
                    control: $(this).attr('data-control') || 'hue',
                    defaultValue: $(this).attr('data-defaultValue') || '',
                    format: $(this).attr('data-format') || 'hex',
                    keywords: $(this).attr('data-keywords') || '',
                    inline: $(this).attr('data-inline') === 'true',
                    letterCase: $(this).attr('data-letterCase') || 'lowercase',
                    opacity: $(this).attr('data-opacity'),
                    position: $(this).attr('data-position') || 'bottom left',
                    change: function (value, opacity) {
                        if (!value) return;
                        if (opacity) value += ', ' + opacity;
                        if (typeof console === 'object') {
                            console.log(value);
                        }
                    },
                    theme: 'bootstrap'
                });
            });
        });


        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                $("#loading").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loading');
                var spinner = new Spinner(opts).spin(target);
            });
        });

        //Method to validate required fields
        function validate() {

            if (!document.getElementById('OrganizationId').value) {
                alert('Please select Organization.');
                document.getElementById('OrganizationId').focus();
                return false;
            }
            if (!document.getElementById('SiteName').value) {
                alert('Please enter Department Name.');
                document.getElementById('SiteName').focus();
                return false;
            }
            if (!document.getElementById('FriendlyName').value) {
                alert('Please enter Friendly Name.');
                document.getElementById('FriendlyName').focus();
                return false;
            }
        }

    </script>
}
