<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=edge;chrome=1" />
    <title>@ViewBag.Title - Residency Select</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/spin")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csstheme")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="loading">
        <div id="loadingcontent">
            <div id="loadingspinner">Please Wait....</div>
        </div>
    </div>
    <header class="navbar" id="header-navbar" style="min-width:1280px">
        <div class="container">
            <img src="~/Content/Images/j3p_dots_portal.png" alt="" class="normal-logo logo-white" style="padding-top: 20px; padding-bottom: 20px; padding-left: 10px;" />                      
        </div>
        @if (Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["ShowBanner"]))
        {
            <div class="row alert-danger text-center bold">
                <span class="fa fa-warning"></span> @System.Configuration.ConfigurationManager.AppSettings["BannerText"] <span class="fa fa-warning"></span>
            </div>
        }
    </header>
    <div id="page-wrapper" class="container" style="min-width: 1280px">
        <div class="row">           
            <div id="content-wrapper" style="margin:15px !important; min-height:inherit">

                <div class="row">
                    <div class="col-lg-12">                        
                        <div class="row">
                            <div class="col-lg-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year - Residency Select
                    </p>
                </footer>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstraptheme")
    @Scripts.Render("~/bundles/themeplugin")

    @RenderSection("scripts", required: false)
</body>
</html>
